:root {
    --color-muyFuerte: #0C5A10;
    --color-fuerte: #2E7D32;
    --color-medio: #43A047;
    --color-suave: #9CCC65;
    --color-destacado:#BFFE87;
    --color-fondoApp:darkgray;
    --color-cabecera:aqua;
    --color-fondoSector:beige;//burlywood
}

*{font-family:sans-serif;}
*{margin:0px; padding: 0px;}

header{    
    color: var(--color-muyFuerte);
    background-color: var(--color-cabecera);
    width: 100%;
    height: auto;    
    text-align: center;
}
header img{
    
}
.infoEmpresa, .infoMiviajante, .infoCliente {
    display: block;
    margin: 5px auto;
    background-color: gainsboro;
    vertical-align: middle;
    padding: 10px;
	width: auto;
}
.infoEmpresa img{width: 100%;max-width: 500px;margin: auto;}
.infoCliente{text-align: right;}
.infoCliente > *{display: inline-block;vertical-align: middle;}
.infoCliente ul {list-style-type: none;}
.infoMiviajante{display: none;}

.bodySection{    
    padding: 5px;
    background-color: var(--color-fondoApp);
}

.sectorMenu ul{margin: auto;}

.sectorMenu li{
    display: inline-block;
    max-width: 350px;
    background-color: var(--color-fondoSector);
    padding: 15px;
    margin: 5px auto;
    border-radius: 30px;
    vertical-align: middle;
	border: 4px solid var(--color-fondoSector);
	user-select: none;
}

.sectorMenu li:hover{
    border-color: brown;
	transition-duration: 0.4s;
}

#login form {
	margin: auto;
}
#login form input{
	display: block;
	width: 250px;
	font-size: 160%;
	margin: 5px;
}
#login form button{
	display: block;
	width: 250px;
	font-size: 160%;
	padding: 5px;
}

footer{    
    color: var(--color-suave);
    background-color: brown;
}



.tablaEstilo1{
    width: 80%;
    user-select: none;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    background-color: var(--color-suave);
    padding: 5px;
    margin: auto 5px;
    border-radius: 20px;
}

.tablaEstilo1 th{
    background-color: var(--color-fuerte);
    width: auto;
    height: 25px;
}

.tablaEstilo1 tr{
	width: auto;
    height: 30px;
    background-color: var(--color-medio);
}

.tablaEstilo1 tr:hover{
     transition-duration: 0.2s;
     background-color: var(--color-destacado);
}
